<h1>{{user.login}}</h1>
<div>
  <form [formGroup]="formUserData">
    <div>
      <label>Login</label>
      <input formControlName="login">
      <label>Password</label>
      <input matInput formControlName="password" type="password">

      <label>Access Level</label>
      <input type="radio" name="accessLevel" value="interno" formControlName="accessLevel">
      <input type="radio" name="accessLevel" value="cliente" formControlName="accessLevel">
      <input type="radio" name="accessLevel" value="administrador" formControlName="accessLevel">
    </div>
  </form>
</div>
