<h1>User List</h1>
<div>
  <div>
    <ul>
      <li *ngFor="let user of users">
        <a routerLink="./detail/{{user.id}}"><span class="notranslate">{{user.login}}</span></a>
      </li>
    </ul>
  </div>
  <div>
    <button color="primary" mat-raised-button (click)="onAddUser()">Add User</button>
    <button color="primary" mat-raised-button>Edit User</button>
    <button color="warn" mat-raised-button>Delete User</button>
  </div>
</div>